# PLN clásico
nltk==3.8.1
scikit-learn==1.3.2
numpy==1.26.2

# Detección de idioma
langdetect==1.0.9

# Análisis de sentimiento
textblob==0.17.1

# Backend API
fastapi==0.104.1
uvicorn==0.24.0

# Frontend
streamlit==1.29.0

# Base de datos
sqlalchemy==2.0.23

# Scrapper
bs4
wikipedia-api